<!DOCTYPE html>

<html>

<head>

<title>Login</title>

<link rel="stylesheet" href="/static/style.css">

</head>


<body>


<div class="auth-container">


    <h1>
        Welcome Back
    </h1>


    <p class="subtitle">
        Login to continue your IELTS preparation
    </p>



    <form method="POST" class="auth-form">


        <label>
            Email
        </label>

        <input 
        type="email"
        name="email"
        placeholder="Enter your email"
        required>



        <label>
            Password
        </label>


        <input 
        type="password"
        name="password"
        placeholder="Enter your password"
        required>



        <button>
            Login
        </button>


    </form>



    <p>
        Don't have an account?

        <a href="/register">
            Create one
        </a>

    </p>


</div>


</body>

</html>