<!DOCTYPE html>
<html>

<head>

<title>
IELTS Reading Tests
</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>


<body>


<nav class="navbar">

<div class="logo">
IELTS Master
</div>


</nav>



<section class="categories">


<h1>
Choose a Reading Test
</h1>



<div class="card-container">


{% for test in tests %}


<div class="test-card">


<h3>

{{ test.title }}


{% if test.id != "reading_test1" %}

<span class="premium-badge">
    🔒 Premium
</span>

{% endif %}


</h3>



<p>

Practice IELTS Reading with computer-based exam interface.

</p>



<a href="/instructions/{{ test.id }}">

Start Test

</a>


</div>


{% endfor %}



</div>


</section>


</body>

</html>